.home-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.logo-container {
  height: 3rem;
  width: 3rem;
}

.mode-logo-container > svg {
  height: 0.85rem;
  width: 0.85rem;
}

.mode-inactive > svg {
  fill: #c9c8c6;
}
