@font-face {
  font-family: "s-font";
  font-weight: 400;
  font-style: normal;
  src: url("./static/fonts/s.woff2") format("woff2");
}

html,
body {
  overflow: hidden;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior-x: none;
}

.s-font {
  font-family: "s-font";
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none;
  z-index: 1;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none;
  z-index: 1;
}

.cursor-pointer {
  cursor: pointer;
}
